h1 SIGNUP
form(action="/signup", method="POST")
  div
    input(type="text", name="username", placeholder="Create your username")
  div
    input(type="text", name="password", placeholder="Create your password")
  button(type="submit") Submit